body{
  font-family:Sans-serif;
}
h2, h3 {
 margin-block:0;
 margin:0.5em;
}
h4 {
 margin-block:0;
 margin: 0.25em;
}
#banner {
  text-align:center;
  padding:0.1em;
}
#menu {
  display:flex;
  flex-wrap: wrap;
  background-color: DarkCyan;
  border-bottom:0.25em solid MediumAquaMarine;
}
#menu a {
  color: Azure;
  font-weight:bold;
  padding: 0.5em 3em;
  text-decoration: none;
  text-align:center;
}
#menu a:hover {
  background-color: Azure;
  color: Black;
}
.table {
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
}
.cell {
  text-align: center;
  font-family: monospace;
  font-size: large;
  margin:0 0.25em;
  animation-duration: 1.5s;
}

.info {
  height:5em;
 flex-grow:1;
}
.info div {
  height:0%;
  background-color: Azure;
  animation-duration:inherit;
  font-weight:bold;
}

.jack {
  margin:0 auto;
  width:3em;
  margin-bottom:1em;

}
.jack a {
  text-decoration: none;
  color:Black;
  width:50%;
}
.jack .lights {
  border-left:0.8em solid Grey;
  border-right:0.8em solid Grey;
  height:0.4em;
}
.connected {
  border:0.4em solid MediumAquaMarine;
  background-color: Azure;
}

.connected .lights {
  border-left-color:DarkSeaGreen;
  border-right-color:GoldenRod;
  height:0.4em;
}
.notconnect {
  border:0.4em solid Grey;
  background-color:LightGrey;
}

.bar {
  display:flex;
  justify-content: center;
  height:5em;
  animation-duration:inherit;
}
.bar div {
  width:2em;
  animation-duration:inherit;
  background-color: Azure;
}

.textTable{
  font-family: monospace;
}

.text {
  font-family: monospace;
  white-space: pre;
  border:0.4em solid MediumAquaMarine;
  padding:0.4em;
}

#content .p0 {background-color:LightBlue;}
#content .p1 { background-color:LightBlue; }
#content .p2 { background-color:LightBlue; }
#content .p3 { background-color:MediumAquaMarine; }
#content .p4 {background-color:MediumAquaMarine;}
#content .p5 { background-color:MediumAquaMarine; }
#content .p6 { background-color:MediumAquaMarine; }
#content .p7 { background-color:DarkKhaki; }
#content .p8 { background-color:DarkKhaki; }
#content .p9 { background-color:IndianRed; }
#content .p10 { background-color:IndianRed; }


#content .p0 div {height:100%;}
#content .p1 div { height:90%; animation-name:a90; }
#content .p2 div { height:80%; animation-name:a80;}
#content .p3 div { height:70%; animation-name:a70; }
#content .p4 div { height:60%; animation-name:a60;}
#content .p5 div { height:50%; animation-name:a50; }
#content .p6 div { height:40%; animation-name:a40; }
#content .p7 div { height:30%; animation-name:a30; }
#content .p8 div { height:20%; animation-name:a20;}
#content .p9 div { height:10%; animation-name:a10; }
#content .p10 div { height:0%; animation-name:a0; }


#content .b0 { background-color:IndianRed; animation-name:a1; }
#content .b1 { background-color:IndianRed; animation-name:a1; }
#content .b2 {background-color:DarkKhaki;animation-name:a2;}
#content .b3 { background-color:DarkKhaki; animation-name:a2; }
#content .b4 { background-color:MediumAquaMarine; animation-name:a4; }
#content .b5 { background-color:MediumAquaMarine; animation-name:a4; }
#content .b6 { background-color:MediumAquaMarine; animation-name:a4; }
#content .b7 { background-color:MediumAquaMarine; animation-name:a4; }
#content .b8 {background-color:LightBlue;animation-name:a8;}
#content .b9 { background-color:LightBlue;  animation-name:a8; }
#content .b10 { background-color:LightBlue;  animation-name:a8; }


@keyframes a90 { from {height:100%} to {height:90%} }
@keyframes a80 { from {height:100%} to {height:80%} }
@keyframes a70 { from {height:100%} to {height:70%} }
@keyframes a60 { from {height:100%;} to {height:60%;} }
@keyframes a50 { from {height:100%} to {height:50%} }
@keyframes a40 { from {height:100%} to {height:40%} }
@keyframes a30 { from {height:100%} to {height:30%} }
@keyframes a20 { from {height:100%} to {height:20%} }
@keyframes a10 { from {height:100%} to {height:10%} }
@keyframes a0 { from {height:100%} to {height:0%} }

@keyframes a8 { from {background-color: Azure;} to {background-color: LightBlue;} }
@keyframes a4 { from {background-color: Azure;} to {background-color: MediumAquaMarine;} }
@keyframes a2 { from {background-color: Azure;} to {background-color: DarkKhaki;} }
@keyframes a1 { from {background-color: Azure} to {background-color:IndianRed} }